@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other elements */
  background-color: #E0DED8; /* Match the navbar background color */
  align-items: space-evenly;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E0DED8;
}
